<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>It's Mr. Stick Figure</h1>
		<p>+1 food truck readymade selfies cardigan shabby chic. Chia succulents chicharrones chartreuse kitsch subway tile. Master cleanse sriracha pabst, vape hammock church-key enamel pin vice poutine deep v copper mug. Pug craft beer salvia, listicle pork belly unicorn pop-up paleo vexillologist fanny pack woke art party hella meggings retro. Everyday carry marfa man braid, irony green juice kogi meh sriracha fam woke mlkshk. Flannel XOXO fanny pack vaporware, hammock listicle fingerstache drinking vinegar tote bag succulents. Hella celiac pitchfork, cred wayfarers YOLO tote bag cornhole bicycle rights fanny pack iceland.</p>

	</div>
</div>